@import url('https://fonts.googleapis.com/css2?family=Amazon+Ember&display=swap');


/* CLOCK */

.clock {
  font-size: 30px;
  font-family: 'Amazon Ember', sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  max-width: 40vw;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 10px;
  left: 45%;
}






/* CALENDAR */

.react-calendar {
  font-size: 16px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin-left: 40px; /* This will center the calendar */
}

.react-calendar__viewContainer {
  margin-left: 10px;
  max-width: 280px;
}

.react-calendar__century-view {
  margin-top: 20px;
}

.react-calendar__decade-view {
  margin-top: 20px;
}

.react-calendar__year-view {
  margin-top: 20px;
}

.react-calendar__century-view__decades__decade {
  max-height: 50px;
}

.react-calendar__decade-view__years__year {
  max-height: 50px;
}

.react-calendar__year-view__months__month {
  max-height: 50px;
}

.react-calendar__navigation button {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
}

.react-calendar__navigation button:hover {
  background-color: #f5f5f5;
}

.react-calendar__navigation button:active,
.react-calendar__navigation button.react-calendar__navigation__label__button--active {
  background-color: #eee;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-weight: bold;
}


/* TILE STUFF */

.react-calendar__tile {
  font-weight: bold;
  border-radius: 20px;
}
.react-calendar__tile--active {
  background-color: #007bff;
  color: #fff;
}

.react-calendar__navigation {
  margin-top: 5px;
  margin-bottom: 0px;
}

.calendar-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.del-button {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
